name: Test with Redmine

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        redmine:
          - '6.0'
          - '6.1'
        ruby:
          - '3.3'
        database:
          - postgresql
          - mysql
    steps:
    - uses: eXolnet/action-redmine-plugin@v1
      with:
        plugin_name: stopwatch
        redmine_version: ${{ matrix.redmine }}
        ruby_version: ${{ matrix.ruby }}
        database: ${{ matrix.database }}

